body {
    background-color:  #d19bb9ab;
    color:black;
    text-align: center
}

.cell {
    width:30px; 
    height:30px;
    text-align: center
}

.shown {
    background-color: lightslategrey;
}

.button {
    margin-left: 25px;
}

.start {
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

.form-levels {
    display: flex;
}
form {
    text-align: left;
}

.board {
    border: 1px;
    margin: auto;
}

.tableHead {
    background-color: gray;
    text-align: center;
    font-size: 4em;
    height: 20px;
} 

img {
    width: 30px;
    height: 30px;
}

td {
    background-color: gray;
    text-align: center;
    width: 30px;
    height: 30px;
}

table {
    margin: auto;
    border: 1px;
    color: black;
}

h4 {
    margin: 0 10px;
}

