body {
    background-color:  #dac3a7;
    color:black;
    text-align: center
}

.cell {
    width:30px; 
    height:30px;
    text-align: center
}

.shown {
    background-color: lightslategrey;
}

.button {
    height: 25px;
    cursor: pointer;
}

.start {
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
}

.body {
    display: flex;
}

form {
    text-align: left;
}

.game {
    display: flex;
    flex-direction: column;
    
}
.game-header {
    display: flex;
    justify-content: space-around;
    
}
.board {
    border: 1px;
    margin: auto;
}

img {
    width: 30px;
    height: 30px;
}

.table-head {
    height: 65px;
    background-color: gray;
} 

td {
    background-color: gray;
    text-align: center;
    width: 30px;
    height: 30px;
}

table {
    border: 1px;
    color: black;
}

h4 {
    margin: 0 10px;
}

.mines-container, .clock-container {
    display: flex;
    width: 65px;
    height: 25px;
    border: 1px solid;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
